/*  Login comp  */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #09c6f9;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(315deg, #045de9 0%, #09c6f9 74%);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.superuser-login {
  width: 60%;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

/* Superuser comp */

.superuser_container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.superuser_subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-util {
  background: #045de9;
}

/* CreateBank comp */
.bank-signup {
  width: 60%;
  padding-top: 2.2rem;
}

/* Admin comp */

.admin_container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.admin_subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row-width {
  max-width: 80%;
}

/* Define Struct */

.define-struct-container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.define-struct-subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.accordion-gap {
  margin-bottom: 2rem;
}

/* .struct_container{
  width: 80vw;
  margin: auto ;
  margin-top: 20px;
} */

/* User */

.user-container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.user-subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.btn-gap {
  margin-left: 1rem;
}

.set-width {
  width: 30%;
}

.title-padding {
  padding-bottom: 1rem;
}

/* Navbar */
.img-padding {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Footer */
.bg-color {
  background: #2196f3;
}

/* Breadcrumb */
.breadcrumb {
  padding-left: 2rem;
  padding-top: 1.2rem;
}

.struct_container{
  padding: 20px;
}


/* Terminal-Container */
.terminals_container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 50vh; */
}

/* View and Update Terminal */ 
.view-terminal-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.param-tabs {
  /* width: 40%; */
  justify-content: center;
}

.var-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  justify-content: center;
}

