/*  Login comp  */

/* .gradient-custom-2 { */
  /* fallback for old browsers */
  /* background: #09c6f9; */
  

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
/* } */



/* @media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
} */

@media (max-width: 1050px) {
  .container {
    width: 50% !important;
    /* background-color: red !important; */
  }
}

@media (max-width: 850px) {
  .container {
    width: 70% !important;
    /* background-color: red !important; */
  }
}

@media (max-width: 500px) {
  .container {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0% !important;
    box-shadow: 0px 0px 0px 0px !important;
    margin: 0 !important;
    /* background-color: red !important; */
  }
}

.form-container {
  display: flex;
  background-color:#b5efff;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

.container {
  height :fit-content;
  padding: 40px;
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  background-color:white;
  border-radius: 2%;
  /* box-shadow: -20px 20px  rgb(132, 128, 128); */
  box-shadow: 3px 8px 28px #888888
  ;
}
.brief-koanpay{
  color: black !important;
  height: 60% !important;
}
.btn-login {
  background: #449ce5;
}


/* Superuser comp */
.superuser_table{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 50vh; */
}

.superuser_container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.superuser_subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-util {
  background: #045de9;
}

/* CreateBank comp */
.bank-signup {
  width: 60%;
  padding-top: 2.2rem;
}

/* Admin comp */

.admin_container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.admin_subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row-width {
  max-width: 80%;
}

/* Define Struct */

.define-struct-container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.define-struct-subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.accordion-gap {
  margin-bottom: 2rem;
}

/* .struct_container{
  width: 80vw;
  margin: auto ;
  margin-top: 20px;
} */

/* User */

.user-container {
  background: #09c6f9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.user-subcontainer {
  border-radius: 0.5rem;
  background: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.btn-gap {
  margin-left: 1rem;
}

.set-width {
  width: 30%;
}

.title-padding {
  padding-bottom: 1rem;
}

/* Navbar */
.img-padding {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Footer */
.bg-color {
  background: #2196f3;
}

/* Breadcrumb */
.breadcrumb {
  padding-left: 2rem;
  padding-top: 1.2rem;
}

.struct_container{
  padding: 20px;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  gap: 4rem;
}


/* Terminal-Container */
.terminals_container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 50vh; */
}

.create-termi-paginate {
  display: flex;
  gap: 60rem;
}

.create-termi-btn {
  margin-top: 0;
}

/* .no-terminal-found {
  margin-top: 2rem;
} */


/* Update and View Terminal */
.viewandupdateterminal_container{
  margin:20px;
}
.params_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabs_content{
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.add_entry_pagination{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-top: 2.5rem;
}
.edit_icon:hover{
  cursor: pointer;
}